@font-face {
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
	url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
body {
    background: url(../image/bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; 
}

.main-wrapper {
    box-sizing: border-box;
    width: 1024px;
    margin: 0 auto;
    padding: 1px;  
}

.header {
    display: inline-block;  /*zamenit*/
    box-sizing: border-box;
    width: 1024px;
    margin: 45px 0 50px 0;   
    text-align: center;  
}

.menu {
    display: inline-block;
    box-sizing: border-box;
	width: 1024px;	
	text-align: center;
}

.menu-item {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 27px;
    line-height: 27px;
    margin-right: 27px;
    margin-left: 27px;
    font-size: 28px;
    vertical-align: middle;
    list-style: none;
    font-family: 'Pathway Gothic One',  sans-serif;
    text-transform: uppercase; 
}

.menu-item>a {
 color: white;
 text-decoration: none;
}

.submenu {
	display: none;
	width: 58px;
	height: 75px;
	padding: 10px 5px;
	margin-top: 4px;
	text-align: center;
	background-size: cover;
	overflow: hidden;
	list-style: none;
	border-radius: 5px;
    background-color: #fff; 
}

.submenu::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 31px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2.5px 3px 2.5px;
    border-color: transparent transparent #fff transparent;
}

.menu-item:hover> .submenu {
	display: block;
}

.submenu-item>a {
	display: inline-block;
	height: 27px;
	text-decoration: none;
	color: #6b7488;
	line-height: 27px;
}

.submenu-item>a:hover {
	color: #263555;
}

.submenu-item {
	font-size: 20px;
}

.submenu>li {
	list-style: none;
}

.menu-item :hover {
     color: #263555;
}

.logo {
	display: inline-block;
    list-style: none;
    margin-left: 10px;
}

.label {
	display: inline-block;
	width: 137px;
	height: 137px;
	text-align: center;
	vertical-align: middle;
	line-height: 137px;
	font-size: 59.58px;
	font-family: 'Dorsa', 'Arial', sans-serif;
	color: #263555;
	text-decoration: none;
	background: #fff;
    border-radius: 50%;
    text-transform: uppercase;
}

/*main content*/

.content{
	display: flex;
	padding: 100px 57px 0 61px;	
	background-color: #fff;
}

h2{
	font-family: myriad-pro, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #263555;
	font-size: 33px;
}

.content-map{
	box-sizing: border-box;
	width: 460px;
	padding-right: 17px;
}

.content-map-google>iframe{
	padding: 49px 0 125px 0;
	width: 100%;
	height: 420px;
}

.content-phone{
	width: 208px;
	padding-top: 80px;
}

.content-phone-space1,
.content-phone-space2{
	font-size: 14px;
	line-height: 19px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666565;
}

.tel {	
	text-decoration: none;
}

tr>td, .tel{
	font-size: 13px;
	line-height: 19px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666565;
}

.tel{
	padding-left: 5px;
}

.text-email {
	font-size: 13px;
	line-height: 19px;
	font-family: Arial, Helvetica, sans-serif;
	color: red;
	text-decoration: none;
}

.content-phone-space1{
	padding-bottom: 23px;
}

.content-phone-space2{
	padding:  49px 0 10px 0;
}

.content-contactUs{
	width: 215px;
	padding-left: 20px;
}
.contact-uc-pading-top{
	padding-top: 49px;
}

.name {
	width: 95%;
	display: block;
	font-size: 12px;
	margin-bottom: 20px;
	color: #263555;
	border: 1px solid #d4d0d0;
	background-color: #fcfafa;
	padding: 5px;
}

.name1{
	position: relative;
	width: 100%;
}

.contact-uc-txt {
	color: red;
	font-size: 11px;
	position: absolute;
	top: 28%;
	right: 2%;
}

.contact-uc-massage {
	width: 97%;
	display: block;
	font-size: 14px;
	margin-bottom: 20px;
	color: #263555;
	border: 1px solid #d4d0d0;
	background-color: #fcfafa;
	padding-top: 17px;
}

.name::placeholder {
  	color: #263555;
  	padding-left: 5px;
 }

 .contact-uc-massage::placeholder {
  	color: #263555;
  	padding-left: 5px;
 }

.contactUs-butt {
	display: flex;
	justify-content: flex-end;
}

.button {
	width: 80px;
	height: 28px;
	border: 1px solid #b1aaaa;
	border-radius: 8px;
	background-color: #fbf6f8;
	font-size: 15px;
	margin-left: auto;
}



/* footer*/
.button-circle {
	position: fixed;
	bottom: 4%;
	right: 10%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #38afe5;
	
}

.button-circle::before {
	content: "\2039";
	position: absolute;
	left: 14px;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	transform: rotate(90deg);
}

.wrapper-content-bottom {
    display: flex;
    width: 1024px;
    padding: 43px 0 30px 0;
    background-color: #30455b;  
    align-items: center;
    justify-content: space-evenly;
}

.content-bottom {
    display: flex;
    color: #fff;
    flex-direction: column;
       
}

.content-bottom-box1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 14px;
    text-transform: uppercase;
    padding-bottom: 14px; 
}

.content-bottom-box2 {
    font-size: 12px;
    font-family: 'Arial', sans-serif;  
    line-height: 19px;
}
.footer-social-who {
    margin: auto;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.social-links {
    margin: 0 auto;
	margin-top: 10px;
	width: 1024px;
	height: 83px;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}
 
.twitter {
	
	width: 40px; height: 40px;
    background: url('../image/css_sprites.png') 0 0;
	padding-right: 10px;
	opacity: 0.7;
}

.facebook {
	
	width: 40px; height: 40px;
    background: url('../image/css_sprites.png') -52px 0;
	padding-right: 10px;
	opacity: 0.7;
}

.google {
	
	width: 40px; height: 40px;
    background: url('../image/css_sprites.png') -105px 0;
	padding-right: 10px;
	opacity: 0.7;
}

.in {
	
	width: 40px; height: 40px;
	background: url('../image/css_sprites.png') -158px 0;
	opacity: 0.7;
}
  
.social-links>a:hover {
    opacity: 1;
}
  
.footer-social-who {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif; 
    display: flex;
    justify-content: center;
}
.footer-social-who2 {
    border-right: 2px #fff solid;
    border-left: 2px #fff solid;
    margin: 0 3px;
    padding: 0 3px;

}