body {
    background: url(../image/background.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; 
}

.main-wrapper {
    box-sizing: border-box;
    height: 1407px;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 706px;
    padding: 1px;  
}

.header {
    display: inline-block;
    box-sizing: border-box;
    height: 190px;
    width: 1024px;
    margin-top: 45px;   
    text-align: center;  
}

.menu {
    display: inline-block;
    box-sizing: border-box;
	width: 1024px;	
	text-align: center;
}

.menu-item {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 27px;
    line-height: 27px;
    margin-right: 27px;
    margin-left: 27px;
    font-size: 28px;
    vertical-align: middle;
    list-style: none;
    font-family: 'Pathway Gothic One',  sans-serif;
    text-transform: uppercase; 
}

.menu-item>a {
 color: white;
 text-decoration: none;
}

.submenu {
	display: none;
	width: 58px;
	height: 75px;
	padding: 10px 5px;
	margin-top: 4px;
	text-align: center;
	background-size: cover;
	overflow: hidden;
	list-style: none;
	border-radius: 5px;
    background-color: #fff; 
}

.submenu::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 31px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2.5px 3px 2.5px;
    border-color: transparent transparent #fff transparent;
}

.menu-item:hover> .submenu {
	display: block;
}

.submenu-item>a {
	display: inline-block;
	height: 27px;
	text-decoration: none;
	color: #6b7488;
	line-height: 27px;
}

.submenu-item>a:hover {
	color: #263555;
}

.submenu-item {
	font-size: 20px;
}

.submenu>li {
	list-style: none;
}

.menu-item :hover {
     color: #263555;
}

.logo {
	display: inline-block;
    list-style: none;
    margin-left: 10px;
}

.label {
	display: inline-block;
	width: 137px;
	height: 137px;
	text-align: center;
	vertical-align: middle;
	line-height: 137px;
	font-size: 59.58px;
	font-family: 'Dorsa', 'Arial', sans-serif;
	color: #263555;
	text-decoration: none;
	background: #fff;
    border-radius: 50%;
    text-transform: uppercase;
}

/*main content*/

.main {
    box-sizing: border-box;
    height: 1171px;
    width: 1024;
    padding: 58px 60px 135px 61px; 
    background-color: #fff;
    
}

.main-content {
    box-sizing: border-box;
    height: 707px;
    width: 902px;  
    position: relative; 
}

.slider-image-boat1 {
    width: 902px;
    height:580px;
    position: absolute;
}
.slider-image-church{
    width: 902px;
    height:580px;
    position: absolute;
}
.slider-image-Roume{
    width: 902px;
    height:580px;
    position: absolute;
}
.slider-image-Venice{
    width: 902px;
    height:580px;
    position: absolute;
}

.slaider-image{
    position: relative;
    height: 636px;
    width: 902px; 
}
.side-txt1 {
	position: absolute;
	top: 218px;
	height: 62px;
	width: 226px;
	font-size: 22px;
	color: #263555;
	font-family: 'Pathway Gothic One', 'Arial', sans-serif;
	text-align: center;
	line-height: 62px;
	background-color: #fff;
    border: 1px solid silver;
    text-transform: uppercase;
}

.side-txt2 {
	position: absolute;
	top: 280px;
	height: 61px;
	width: 277px;
	font-size: 34px;
	color: #fff;
	font-family: 'Pathway Gothic One', 'Arial', sans-serif;
	text-align: center;
	line-height: 62px;
    background-color: #38afe5;
    text-transform: uppercase;
}

.button {
	position: absolute;
	bottom: 96px;
	left: 36px;
	height: 88px;
	width: 88px;
}

.button-1{
	position: absolute;
	width: 44px;
	height: 88px;
	background-color: #38afe5;
	border-radius: 44px 0 0 44px;
}

.button-1::before {
	content: "\2039";
	position: absolute;
	top: 45%;
	left: 62%;
	font-size: 40px;
	color: #fff;
	transform: translate(-50%, -50%);
}

.button-1:hover {
	background-color: rgba(56, 175, 229, 0.7);
}

.button-2 {
	position: absolute;
	left: 50%;
	width: 44px;
	height: 88px;
	background-color: #38afe5;
	border-radius: 0 44px 44px 0;
}

.button-2::before {
	content: "\203a";
	position: absolute;
	top: 45%;
	right: 62%;
	font-size: 40px;
	color: #fff;
	transform: translate(50%, -50%);
}

.button-2:hover {
	background-color: rgba(56, 175, 229, 0.7);
}

h2 {  
    font-size: 32px;
    font-family: Pathway Gothic One, sans-serif;
    text-transform: uppercase;
    color: #263555;   
}

.slaider-name-of-topik {
    margin-bottom: 47px;
}
.section-photo {
    box-sizing: border-box;
    height: 270px;
    width: 902px;
    
}
.section-photo-venice,
.section-photo-statue,
.section-photo-elf {
    display: inline-block;
    position: relative;
	width: 287px;
	height: 270px;
}

.section-photo-statue {
    padding: 0 15px 0 15px;  
}

.photo-venice-box-1,
.photo-statue-box-2,
.photo-elf-box-3 {
	position: absolute;
	right: 51%;
	top: 0;
	display: none;
	width: 147px;
	height: 270px;
	background-color: #193149;
}

.section-photo-venice:hover>.photo-venice-box-1 {
	display: block;
}

.section-photo-statue:hover>.photo-statue-box-2{
    display: block;
}

.section-photo-elf:hover>.photo-elf-box-3{
    display: block;
}



.photo-venice {   
    width: 288px;
    height: 270px;
}
.photo-statue {   
    width: 288px;
    height: 270px;
    
}
.photo-elf {
    width: 288px;
    height: 270px;
}

p{
    padding: 21px 10px 30px 10px;
	font-size: 10px;
	color: #cbc6c6;
	text-align: justify;
	line-height: 15px;
	font-family: 'Arial', 'Tahoma', sans-serif;
}

h4{
    margin: 0 auto;
	margin-top: 21px;
	color: #e0e4e7;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
    text-align: center; 
    text-transform: uppercase;
}

.section-button {
	position: absolute;
	right: 8%;
	bottom: 7%;
	width: 62px;
	height: 20px;
	text-align: center;
	font-family: 'Arial', 'Tahoma', sans-serif;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	color: #000;
	box-sizing: border-box;
	border: 1px solid silver;
	background-color: #fff;
	border-radius: 5px;
}

.button-circle {
	position: fixed;
	bottom: 4%;
	right: 10%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #38afe5;
	
}

.button-circle::before {
	content: "\2039";
	position: absolute;
	left: 14px;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	transform: rotate(90deg);
}