*{
    margin: 0px;
    padding: 0px;     
}

.wraper{
    width: 480px;
    height: 1410px;
    margin: 0 auto;
    text-align: left;
}
.text_width{  
    box-sizing: content-box;
    width: 406px;
    padding: 49px 37px;
}
.agency_profile{
    box-sizing: border-box;
    padding: 0px 0px 32px 0px;
}
h2{
    box-sizing: border-box;
    margin: 0px;
    font-size: 25px;
    font-family: Pathway Gothic One, sans-serif;
    text-transform: uppercase;
}  
.gellen {
    box-sizing: border-box;  
    margin-top: -4px;
    padding: 28px 0px 22px 0px;
    
}
h4{
    font-size: 14px;
    font-family: Arial, sans-serif;
 
}
p{
    font-size: 12px;
    font-family: Arial, sans-serif;
}  
.our_Principles{
    box-sizing: border-box;
    padding: 51px 0px 4px 0px;
}
.blokh{
    box-sizing: border-box;
    padding: 24px 35px 15px 35px;
}
.blokp{
    box-sizing: border-box;
    padding: 0px 35px;
}
.what{
    box-sizing: border-box;
    padding: 104px 0px 26px 0px;
}
.sed{
    box-sizing: border-box;
    padding: 20px 0px 25px 0px; 
}

ul.bla{
box-sizing: border-box;
display: inline-block;
padding: 0px 0px 0px 24px;
overflow: auto;
}
ul.blo{
    box-sizing: border-box;
    padding: 0px 0px 0px 24px;
    float: right;
}
ul.bla li, ul.blo li{
 padding: 10px 0px;
}
ul {
    list-style-type: none; /* no nomer */
   }